@media screen and (min-width: 768px){
.navbar.navbar-default .navbar-nav > li {
    position: inherit;
  }
}
@media only screen and (max-width: 1281px) and (min-width: 799px)  {
.text-align{
	text-align: center;
	margin-bottom: 44px;
	padding: 0px;
}

}

@media only screen and (max-width: 767px) and (min-width: 200px){
.text-heading{
 font-size: 20px;
}
.banner-text{
	top:20px;
}
.about-content {
    width: 100%;
    padding: 0 20px;
}

}

